In [32]:
long = """hello
everybody
as 
long 
as 
we want"""

In [44]:
print("hello",end="--\n")
print(" world")

hello--
 world

Example of using perl in a jupyter notebook
-------

In [47]:
%%perl
@bases = ("A","C","G","T");
print @bases

ACGT

Various string methods
------

In [55]:
long.title()

'Hello\nEverybody\nAs \nLong \nAs \nWe Want'

In [61]:
long.split()

['hello', 'everybody', 'as', 'long', 'as', 'we', 'want']

In [62]:
long.split(sep="body",maxsplit=2)

['hello\nevery', '\nas \nlong \nas \nwe want']

Formatting large numbers with commas
---------

In [81]:
'{:^10.3s} is an {:10,.4f} movie'.format('Monty Python',5230394)

'   Mon     is an 5,230,394.0000 movie'

Function chaining and long lines
-------

In [83]:
fmtS = '{:^10.3s} is an {:10,.4f} movie'.format('Monty Python',5230394)
fmtS.upper().split(',')

['   MON     IS AN 5', '230', '394.0000 MOVIE']

In [85]:
fmtS.upper().\
split(',')

['   MON     IS AN 5', '230', '394.0000 MOVIE']

In [86]:
fmtS.upper().split(
',')

['   MON     IS AN 5', '230', '394.0000 MOVIE']

Example of named matches in python regular expressions
------

In [149]:
import re
m = re.search(r'\s(?P<short>[a-z]{,3})\s',long)
f,t = m.span()
print("extracted short='{0}' from match <{1}>".format(
        m.groupdict()['short'],m.string[f:t]))

extracted short='as' from match <
as >

Formatted print of entries in a dictionary
-----------

In [95]:
'{name}'.format( **{'name':'Gardner','age':'old'})

'Gardner'

Dynamic width for formatted fields
----------
Disclaimer: example jumps ahead to list comprehensions, which are considered covered under "Flow Control" on page 187

In [201]:
%%timeit
s = ''
for ii in range(10000):
    s += '.'

1000 loops, best of 3: 1.5 ms per loop

In [202]:
%%timeit
s = ''
l = []
for ii in range(1000):
    l.append('.')
s = ''.join(l)

10000 loops, best of 3: 117 Âµs per loop

In [200]:
print('\n'.join(['{0:>12}'.format(nm.upper()) for nm in names]))

      ANDREW
        TUBA
    REGINALD
       BRIAN

In [150]:
names = {'Brian','Reginald','Andrew','Tuba'}
w = max([len(x) for x in names])
print ('\n'.join(['|{0:>{width}}|'.format(nm,width=w) for nm in names]))

|  Andrew|
|    Tuba|
|Reginald|
|   Brian|

Repository for python modules not included in the standard library
------------
```
[Repository](pypi.python.org)
```
[Repository](pypi.python.org)

Displaying images in the Jupyter notebook
--------
```
![My side project](Toyyot.jpg)
```
![My side project](Toyyot.jpg)

In [155]:
t1 = (1,)

In [156]:
t2 = (1)

In [157]:
t1

(1,)

In [158]:
t2

1

In [159]:
t3 = (1,2,3,3,3,3,3)
t3

(1, 2, 3, 3, 3, 3, 3)

In [160]:
t3.count(3)

5

In [161]:
fruit = ['bananas','apples']
meat = ['beef','chicken','pork']
dairy = ['milk','yogurt','ice cream']
veggies = ['broccoli', 'peas','carrots']
groceries = (fruit, meat, dairy)

In [165]:
groceries[0]

['bananas', 'apples', 'kiwi']

In [163]:
[x[0] for x in groceries]

['bananas', 'beef', 'milk']

In [164]:
fruit.append('kiwi')

In [166]:
range(10)

range(0, 10)

In [179]:
x  = list(range(-5,-10,-2))
x

[-5, -7, -9]

In [180]:
dairy[1:3]

['yogurt', 'ice cream']

In [181]:
dairy[-1]

'ice cream'

In [188]:
groceries[1]

['beef', 'chicken', 'pork']

In [189]:
min(groceries)

['bananas', 'apples', 'kiwi']

In [190]:
groceries

(['bananas', 'apples', 'kiwi'],
 ['beef', 'chicken', 'pork'],
 ['milk', 'yogurt', 'ice cream'])

In [191]:
max(groceries)

['milk', 'yogurt', 'ice cream']

In [192]:
print(meat[0],meat[1],sep="---")

beef---chicken

In [193]:
"---".join(meat)

'beef---chicken---pork'

In [194]:
print('\n'.join(meat))

beef
chicken
pork

In [210]:
otherD = {}
myD = {'name':'Gardner','age':'old'}
print (otherD)

{}

In [204]:
myD['name']

'Gardner'

In [213]:
myD['home'] = 'PA'

In [206]:
myD

{'age': 'old', 'home': 'PA', 'name': 'Gardner'}

In [207]:
myD['age'] = 10

In [208]:
myD

{'age': 10, 'home': 'PA', 'name': 'Gardner'}

In [214]:
print (myD)
del myD['home']
print (myD)

{'name': 'Gardner', 'home': 'PA', 'age': 'old'}
{'name': 'Gardner', 'age': 'old'}

In [218]:
print(myD.get('name','NV'))

Gardner

In [223]:
'name' in myD

True

In [224]:
myD

{'age': 'old', 'name': 'Gardner'}

In [226]:
myD.setdefault('home','MD')
print(myD)

{'name': 'Gardner', 'home': 'PA', 'age': 'old'}

In [227]:
otherD['pet'] = 'turtle'
otherD['computers'] = 'lots'
print(otherD)

{'computers': 'lots', 'pet': 'turtle'}

In [228]:
myD.update(otherD)
print(myD)

{'computers': 'lots', 'home': 'PA', 'age': 'old', 'name': 'Gardner', 'pet': 'turtle'}

In [229]:
myD.items()

dict_items([('computers', 'lots'), ('home', 'PA'), ('age', 'old'), ('name', 'Gardner'), ('pet', 'turtle')])

In [230]:
myD.keys()

dict_keys(['computers', 'home', 'age', 'name', 'pet'])

In [231]:
myD.values()

dict_values(['lots', 'PA', 'old', 'Gardner', 'turtle'])

In [232]:
newD = dict(myD.items())

In [233]:
newD

{'age': 'old',
 'computers': 'lots',
 'home': 'PA',
 'name': 'Gardner',
 'pet': 'turtle'}

In [234]:
len(myD)

5

In [235]:
dir(myD)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [236]:
myD.keys()

dict_keys(['computers', 'home', 'age', 'name', 'pet'])

In [237]:
myS = {'happy','dogs','sit','still','and','sit','down'}
print(myS)

{'dogs', 'sit', 'still', 'down', 'and', 'happy'}

In [238]:
'down' in myS

True

check collections
-------
look at DefaultDict and NamedTuples

In [245]:
def one(x):
    print ('one: %s'%x)
    
def two(x):
    print ('two {0}'.format(x))
    
def nope(x):
    print ('nope:{0}'.format(x))

caseD = {0:one, 1:two, 2:two}

def case(val):
    caseD.get(val,nope)(val)

In [246]:
case(0)

one: 0

In [247]:
s1 = 'hello'
s2 = 'hello'
s1 == s2

True

In [248]:
l1 = [1,2,3]
l2 = [1,2]
print (l1 is l2)
l2.append(3)
print (l1 is l2)

False
False

In [249]:
print(l1)
print(l2)

[1, 2, 3]
[1, 2, 3]

In [250]:
l3 = l1
print(l3 is l1)

True

In [251]:
l1.append(4)
print(l3)

[1, 2, 3, 4]

In [253]:
def change(l):
    print('l={0}'.format(l))
    l.append('hello')

In [254]:
print(l1)
change(l1)
print(l1)

[1, 2, 3, 4]
l=[1, 2, 3, 4]
[1, 2, 3, 4, 'hello']

In [255]:
x = 0
def change_x(y):
    y += 1
    print('y={0}'.format(y))

In [256]:
print(x)
change_x(x)
print(x)

0
y=1
0

In [257]:
if x is not None: print ('hooray')

hooray

In [259]:
if x == 0 :
    print ('yes')
else:
    print ('no')

yes

In [262]:
print('yes') if x == 0 else print('no')

yes

In [264]:
while  x < 10:
    x += 1
    if x % 3 == 0: continue
    print(x)

1
2
4
5
7
8
10

In [265]:
groceries

(['bananas', 'apples', 'kiwi'],
 ['beef', 'chicken', 'pork'],
 ['milk', 'yogurt', 'ice cream'])

In [266]:
for mylist in groceries:
    print( len(mylist))

3
3
3

In [268]:
for ii in range(1,11,3):
    print(ii)

1
4
7
10

In [269]:
myD

{'age': 'old',
 'computers': 'lots',
 'home': 'PA',
 'name': 'Gardner',
 'pet': 'turtle'}

In [270]:
for entry in myD:
    print(entry)

computers
home
age
name
pet

In [273]:
for entry in sorted(myD.items()):
    print(entry)

('age', 'old')
('computers', 'lots')
('home', 'PA')
('name', 'Gardner')
('pet', 'turtle')

In [274]:
def test_else(x):
    for ii in range(x):
        if ii > 5: break
        print(ii)
    else:
        print('no break')

In [275]:
test_else(3)

0
1
2
no break

In [276]:
test_else(10)

0
1
2
3
4
5

In [279]:
for jj,f in enumerate(dairy):
    if len(f) > 5:
        ii = dairy.index(f)
        print('found long item {} at {} ({})'.format(f,ii,jj))

found long item yogurt at 1 (1)
found long item ice cream at 2 (2)

In [280]:
import random
def get_rand_nums(low,high,num):
    for number in range(num):
        yield random.randint(low,high)
        
numbers = get_rand_nums(1,100,5)

print('First')
for num in numbers:
    print (num)

print('Second')
for num in numbers:
    print (num)

First
36
75
55
60
27
Second

In [281]:
dir(numbers)

['__class__',
 '__del__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__lt__',
 '__name__',
 '__ne__',
 '__new__',
 '__next__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'close',
 'gi_code',
 'gi_frame',
 'gi_running',
 'gi_yieldfrom',
 'send',
 'throw']

In [282]:
type(numbers)

generator

In [283]:
type(get_rand_nums)

function

In [284]:
ll = []
for d in dairy:
    ll.append(len(d))
print (ll)

[4, 6, 9]

In [292]:
kk = '\n'.join(sorted(
        ['{0} is {1} chars long'.format(d,len(d))
         for d in dairy if not d.startswith('y')]
    ))
print(kk)

ice cream is 9 chars long
milk is 4 chars long

In [286]:
dairy

['milk', 'yogurt', 'ice cream']